ffmpeg==1.4
ffmpeg-python==0.2.0
huggingface-hub==0.10.1
jiwer==2.5.1
numpy==1.21.6
opencv-python==4.5.4.60
torch==2.0.1
torchaudio==2.0.2
torchvideo==0.0.0
torchvision==0.15.2
tqdm==4.64.1
transformers==4.23.1
scikit-image==0.19.3
